 *{
	 font-family: 'Convergence', sans-serif;
 }
 .image-container{
	 height:300px;
	 width:300px;
     overflow:hidden;	
     border:1px solid black;
	 overflow:hidden;
 }
 .image-result{
	 height:100%;
	 width:100%;
 }
.UserN{
	margin-left:10%;
}
 .container-info{
	 height:300px;
	 width:100%;
	 margin:10%;
 }
 @media(min-width:900px){
	.container-info{
		display:flex;
	} 
 }
 .resume{
	 height:auto;
	 width:300px;
	 word-wrap: break-word;
	 margin-left:5%;
	 margin-top:10px;
 }